<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Ecommerce</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
        
		    <link rel="stylesheet" href="{{ url_for('static', filename='css/nicepage.css') }}" media=" screen " type="text/css">
    <link rel="stylesheet " href="{{ url_for('static', filename='css/estilos.css')}}" media="screen " type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    </head>
    <body>
        <header class="main-header">
            <div class="container container--flex">
                <div class="main-header__container">
                    <h1 class="main-header__title">ECOMMERCE</h1>
                    <span class="icon-menu " id="btn-menu"><i class="fas fa-bars"></i></span>
                    <nav class="main-nav" id="main-nav">
                        <ul class="menu">
                            <li class="menu__item"><a href="AñadirProducto.html" class="menu__link">PRODUCTOS</a></li>
                            <li class="menu__item"><a href="" class="menu__link">LISTA DE DESEOS</a></li>
                            <li class="menu__item"><a href="" class="menu__link">SOPORTE</a></li>
                            <li class="menu__item"><a href="" class="menu__link">CONTÁCTENOS</a></li>
                            <li class="menu__item"><a href="" class="menu__link">MI CUENTA</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="main-header__container">
                    <span class="main-header__txt">Need Help</span>
                    <p class="main-header__txt"><i class="fas fa-phone"></i> Call 123456789</p>
                </div> 
                <div class="main-header__container"> 
                    <input type="search" class="main-header__input" placeholder="Buscar producto"><i class="fas fa-search"></i>
                </div>
            </div>
        </header>
        <div class="container-slider">
            <div class="slider" id="slider">
                <div class="slider__section">
                    <img src="img/img1.jpg" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">E-commerce</h2>
                        <p class="slider__txt">100% Quality product</p>
                        <a href="" class="btn-shop">SEE NOW</a>
                    </div>
                </div>
                <div class="slider__section">
                    <img src="img/img2.jpg" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">E-commerce</h2>
                        <p class="slider__txt">Cool summer sale 50% off</p>
                        <a href="" class="btn-shop">SEE NOW</a>
                    </div>
                </div>
                <div class="slider__section">
                    <img src="img/img3.jpg" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">E-commerce</h2>
                        <p class="slider__txt">Cool summer sale 50% off</p>
                        <a href="" class="btn-shop">SEE NOW</a>
                    </div>
                </div>
                <div class="slider__section">
                    <img src="img/img4.jpg" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">E-commerce</h2>
                        <p class="slider__txt">100% Quality product</p>
                        <a href="" class="btn-shop">SEE NOW</a>
                    </div>
                </div>
            </div>
            <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
            <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
        </div>
        <main class="main">
            
            <div class="container-editor">
                <div class="editor__item">
                    <img src="img/productotop1.jpg" alt="" class="editor__img">
                    <p class="editor__circle">TOP PRODUCTS</p>
                </div>
                <div class="editor__item">
                    <img src="img/productotop.jpg" alt="" class="editor__img">
    <p class="editor__circle">TOP PRODUCTS</p>
                </div>
            </div>
            <div class="container">
                <h2 class="main-tittle">Lista de Productos</h2>
                <section class="container-products">
                    
                    <div class="product">
                        <img src="img/producto.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Farenheit (Grey)</h3>
                            <span class="producto__price">$575.00</span>
                        </div>
                        <form>
                        <p class="heart"> 
                          <input id="heart1" type="radio" name="heart" value="5"><label for="heart1"><i class="far fa-heart"></i></label>
                        </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio1" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio1">★</label><!--
                              --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio2">★</label><!--
                              --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio3">★</label><!--
                              --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio4">★</label><!--
                              --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio5">★</label>
                            </p>
                          </form>
                          
                    </div>
                    <div class="product">
                        <img src="img/producto1.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Titulo</h3>
                            <span class="producto__price">$56.000</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart2" type="radio" name="heart" value="5"><label for="heart2"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio6" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio6">★</label><!--
                              --><input id="radio7" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio7">★</label><!--
                              --><input id="radio8" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio8">★</label><!--
                              --><input id="radio9" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio9">★</label><!--
                              --><input id="radio10" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio10">★</label>
                            </p>
                          </form>
                    </div>
                    <div class="product">
                        <img src="img/producto20.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Titulo</h3>
                            <span class="producto__price">$34.000</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart3" type="radio" name="heart" value="5"><label for="heart3"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio11" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio11">★</label><!--
                              --><input id="radio12" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio12">★</label><!--
                              --><input id="radio13" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio13">★</label><!--
                              --><input id="radio14" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio14">★</label><!--
                              --><input id="radio15" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio15">★</label>
                            </p>
                          </form>
                    </div>
                    <div class="product">
                        <img src="img/producto3.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Titulo</h3>
                            <span class="producto__price">$70.000</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart4" type="radio" name="heart" value="5"><label for="heart4"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio16" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio16">★</label><!--
                              --><input id="radio17" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio17">★</label><!--
                              --><input id="radio18" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio18">★</label><!--
                              --><input id="radio19" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio19">★</label><!--
                              --><input id="radio20" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio20">★</label>
                            </p>
                          </form>
                    </div> 
                </section>

                <section class="container__testimonials">
                    </section>

                <section class="container-products">
                        <div class="product">
                        <img src="img/producto4.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Farenheit (Grey)</h3>
                            <span class="producto__price">$575.00</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart5" type="radio" name="heart" value="5"><label for="heart5"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio21" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio21">★</label><!--
                              --><input id="radio22" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio22">★</label><!--
                              --><input id="radio23" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio23">★</label><!--
                              --><input id="radio24" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio24">★</label><!--
                              --><input id="radio25" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio25">★</label>
                            </p>
                          </form>
                    </div>
                    <div class="product">
                        <img src="img/producto5.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Titulo</h3>
                            <span class="producto__price">$56.000</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart6" type="radio" name="heart" value="5"><label for="heart6"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio26" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio26">★</label><!--
                              --><input id="radio27" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio27">★</label><!--
                              --><input id="radio28" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio28">★</label><!--
                              --><input id="radio29" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio29">★</label><!--
                              --><input id="radio30" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio30">★</label>
                            </p>
                          </form>
                    </div>
                    <div class="product">
                        <img src="img/producto19.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Titulo</h3>
                            <span class="producto__price">$34.000</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart7" type="radio" name="heart" value="5"><label for="heart7"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio31" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio31">★</label><!--
                              --><input id="radio32" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio32">★</label><!--
                              --><input id="radio33" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio33">★</label><!--
                              --><input id="radio34" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio34">★</label><!--
                              --><input id="radio35" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio35">★</label>
                            </p>
                          </form>
                    </div>
                    <div class="product">
                        <img src="img/producto7.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Titulo</h3>
                            <span class="producto__price">$70.000</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart8" type="radio" name="heart" value="5"><label for="heart8"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio36" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio36">★</label><!--
                              --><input id="radio37" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio37">★</label><!--
                              --><input id="radio38" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio38">★</label><!--
                              --><input id="radio39" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio39">★</label><!--
                              --><input id="radio40" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio40">★</label>
                            </p>
                          </form>
                    </div> 
                </section>
                
                <section class="container__testimonials">
                </section>
                
                <section class="container-products">
                    
                    <div class="product">
                        <img src="img/producto8.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Farenheit (Grey)</h3>
                            <span class="producto__price">$575.00</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart9" type="radio" name="heart" value="5"><label for="heart9"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio41" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio41">★</label><!--
                              --><input id="radio42" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio42">★</label><!--
                              --><input id="radio43" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio43">★</label><!--
                              --><input id="radio44" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio44">★</label><!--
                              --><input id="radio45" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio45">★</label>
                            </p>
                          </form>
                    </div>
                    <div class="product">
                        <img src="img/producto9.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Titulo</h3>
                            <span class="producto__price">$56.000</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart10" type="radio" name="heart" value="5"><label for="heart10"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio46" type="radio" name="estrellas" value="5"><!--
                              --><label for="radi46">★</label><!--
                              --><input id="radio47" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio47">★</label><!--
                              --><input id="radio48" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio48">★</label><!--
                              --><input id="radio49" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio49">★</label><!--
                              --><input id="radio50" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio50">★</label>
                            </p>
                          </form>
                    </div>
                    <div class="product">
                        <img src="img/producto10.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Titulo</h3>
                            <span class="producto__price">$34.000</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart11" type="radio" name="heart" value="5"><label for="heart11"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio51" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio51">★</label><!--
                              --><input id="radio52" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio52">★</label><!--
                              --><input id="radio53" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio53">★</label><!--
                              --><input id="radio54" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio54">★</label><!--
                              --><input id="radio55" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio55">★</label>
                            </p>
                          </form>
                    </div>
                    <div class="product">
                        <img src="img/producto11.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Titulo</h3>
                            <span class="producto__price">$70.000</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart12" type="radio" name="heart" value="5"><label for="heart12"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio56" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio56">★</label><!--
                              --><input id="radio57" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio57">★</label><!--
                              --><input id="radio58" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio58">★</label><!--
                              --><input id="radio59" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio59">★</label><!--
                              --><input id="radio60" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio60">★</label>
                            </p>
                          </form>
                    </div> 
                </section>
                <section class="container__testimonials">
                </section>
                <section class="container-products">
                    
                    <div class="product">
                        <img src="img/producto12.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Farenheit (Grey)</h3>
                            <span class="producto__price">$575.00</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart13" type="radio" name="heart" value="5"><label for="heart13"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio61" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio61">★</label><!--
                              --><input id="radio62" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio62">★</label><!--
                              --><input id="radio63" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio63">★</label><!--
                              --><input id="radio64" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio64">★</label><!--
                              --><input id="radio65" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio65">★</label>
                            </p>
                          </form>
                    </div>
                    <div class="product">
                        <img src="img/producto13.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Titulo</h3>
                            <span class="producto__price">$56.000</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart14" type="radio" name="heart" value="5"><label for="heart14"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio66" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio66">★</label><!--
                              --><input id="radio67" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio67">★</label><!--
                              --><input id="radio68" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio68">★</label><!--
                              --><input id="radio69" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio69">★</label><!--
                              --><input id="radio70" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio70">★</label>
                            </p>
                          </form>
                    </div>
                    <div class="product">
                        <img src="img/producto14.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Titulo</h3>
                            <span class="producto__price">$34.000</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart15" type="radio" name="heart" value="5"><label for="heart15"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio71" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio71">★</label><!--
                              --><input id="radio72" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio72">★</label><!--
                              --><input id="radio73" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio73">★</label><!--
                              --><input id="radio74" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio74">★</label><!--
                              --><input id="radio75" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio75">★</label>
                            </p>
                          </form>
                    </div>
                    <div class="product">
                        <img src="img/producto15.jpg" alt="" class="product__img">
                        <div class="product__desciption">
                            <h3 class="product__title">Titulo</h3>
                            <span class="producto__price">$70.000</span>
                        </div>
                        <form>
                          <p class="heart"> 
                            <input id="heart16" type="radio" name="heart" value="5"><label for="heart16"><i class="far fa-heart"></i></label>
                          </form>
                        <form>
                            <p class="clasificacion">
                              <input id="radio76" type="radio" name="estrellas" value="5"><!--
                              --><label for="radio76">★</label><!--
                              --><input id="radio77" type="radio" name="estrellas" value="4"><!--
                              --><label for="radio77">★</label><!--
                              --><input id="radio78" type="radio" name="estrellas" value="3"><!--
                              --><label for="radio78">★</label><!--
                              --><input id="radio79" type="radio" name="estrellas" value="2"><!--
                              --><label for="radio79">★</label><!--
                              --><input id="radio80" type="radio" name="estrellas" value="1"><!--
                              --><label for="radio80">★</label>
                            </p>
                          </form>
                    </div> 
                </section>

                
                    
                    <section class="container-tips">
                        <div class="tip">
                          <i class="far fa-hand-paper"></i> 
                          <h2 class="tip__title">Satisfaction Guaranteed</h2>
                          <p class="tip__txt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit</p>
                          <a href="" class="btn-shop">SEE NOW</a>
                        </div>
                        <div class="tip">
                         <i class="fas fa-rocket"></i>
                          <h2 class="tip__title">Fast Shipping</h2>
                          <p class="tip__txt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                          <a href="" class="btn-shop">SEE NOW</a>
                        </div>
                        <div class="tip">
                          <i class="fas fa-cog"></i>
                          <h2 class="tip__title">UV Protection</h2>
                          <p class="tip__txt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                          <a href="" class="btn-shop">SEE NOW</a>
                        </div>
                      </section>
                    </div>
                  </main>
                  <footer class="main-footer">
                    <div class="footer__section">
                      <h2 class="footer__title">About Us</h2>
                      <p class="footer__txt">Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus. Nulla porttitor accumsana tincidunt.</p>
                    </div>
                    <div class="footer__section">
                      <h2 class="footer__title">Location :</h2>
                      <p class="footer__txt">0926k 4th block building, king Avenue, New York City</p>
                      <h2 class="footer__title">Contact</h2>
                      <p class="footer__txt">Phone : +121 098 8907 9987</p>
                      <p class="footer__txt">Email : info@example.com</p>
                    </div>
                    <div class="footer__section">
                      <h2 class="footer__title">Quick Links</h2>
                      <a href="" class="footer__link">Productos</a>
                      <a href="" class="footer__link">Lista de Deseos</a>
                      <a href="" class="footer__link">Soporte</a>
                      <a href="" class="footer__link">Contáctenos</a>
                      <a href="" class="footer__link">Mi cuenta</a>
                    </div>
                    <div class="footer__section">
                      <h2 class="footer__title">Sign up for Product Update</h2>
                      <p class="footer__txt">By subscribing to our mailing list you will always get latest news and updates from us.</p>
                      <input type="email" class="footer__input" placeholder="Enter your email">
                    </div>
                    <p class="copy">© 2021 Goggles. All Rights Reserved | Design by </p>
                  </footer>
            </div>
        </main>

        <script src="js/slider.js"></script>
    </body>
</html>